@using VSCODEPROJECT.Controllers;

@model ReportListView

@{
    ViewData["Title"] = "Reports";
}

@{
    string current_user = HomeController.getCurrentUser();
    string current_user_tag = HomeController.getCurrentUserTag();
    string date = HomeController.getDate();
}

<div class="row" style="text-align: center; margin-top: 1.5%; margin-bottom: 8%;">
    <div class="col-md-10">
        <h1 class="display-6">Current User: @current_user @current_user_tag &ensp; Year-Month: @date</h1>
    </div>

    <div class="col-md-2">
        @using (@Html.BeginForm("SelectDayForReports", "Home", FormMethod.Get))
        {
            <div>
                <input type="submit" id="submitId" , value="Select Day" />
            </div>
        }
    </div>
</div>


<div class="row" style="text-align: center;">
    <div class="col-md-3" style="margin-top: 0%;"></div>
    <div class="col-md-6" style="margin-top: 0%;">
        <div class="container" style="margin-bottom: 0%;">
            <b>Monthly Reports</b>
            <hr style="position: relative; bottom: 5px; margin-top: 2%; margin-bottom: 0%;">
            </hr>
        </div>
        <table class="table">

            @if (ViewBag.haveReports)
            {
                <tr>
                    <th>Code</th>
                    <th>Budget</th>
                    <th>Working Time</th>
                </tr>

                @foreach (var item in Model.reportList)
                {

                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Code)</td>

                        <td>@Html.DisplayFor(modelItem => item.Budget)</td>

                        <td>@Html.DisplayFor(modelItem => item.Time)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>@ViewBag.reportsMessage</td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-3" style="margin-top: 0%;"></div>
    </div>


    <style>
        #submitId:hover {
            background-color: #3557db;
        }

        td,
        th {
            text-align: center;
        }

        #submitId {
            background-color: #0066ff;
            text-decoration: white;
            color: white;
            height: 100%;
            width: auto;
            padding-left: 12px;
            padding-right: 12px;
            padding-top: 7px;
            padding-bottom: 7px;
            height: auto;
            margin-top: 1%;
            border: 1px solid #CCC;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
        }
    </style>
